<div class="row">
    <div class="col-md-6" [ngClass]="{'d-flex justify-content-center align-content-center flex-wrap': orientacao}">
        <ng-template *ngIf="orientacao; then loading else aabb"></ng-template>
    </div>
    <div class="col-md-6" [ngClass]="{'d-flex justify-content-center align-content-center flex-wrap': orientacao === false}">
        <ng-template *ngIf="orientacao; then aabb else loading"></ng-template>
    </div>
</div>

<ng-template #loading>
    <a [href]="project_url" target="_blank">
        <img class="img_project grow" [src]="src_img" alt="" />
    </a>
</ng-template>

<ng-template #aabb>
    <div class="project-title" [ngClass]="{'d-flex justify-content-end': orientacao === false}">{{nome}}</div>
        <div class="project-tags" [ngClass]="{'d-flex justify-content-end': orientacao === false}">{{tags}}</div>
        <div class="project-descr">
            <p>{{descr}}</p>
        </div>
        <div [ngClass]="{'d-flex justify-content-end': orientacao === false}">

            <app-circle-button [link-url]="project_url" size="m">
                <fa-icon [icon]="['fas', 'play']" class="c-secondary"></fa-icon>
            </app-circle-button>
            
            <app-circle-button [link-url]="code_url" size="m">
                <fa-icon [icon]="['fas', 'code']" class="c-tertiary"></fa-icon>
            </app-circle-button>

        </div>
</ng-template>

