<div class="row">
    <div class="col-md-6" [ngClass]="{'d-flex justify-content-center align-content-center flex-wrap': orientacao}">
        <ng-template *ngIf="orientacao; then loading else aabb"></ng-template>
    </div>
    <div class="col-md-6" [ngClass]="{'d-flex justify-content-center align-content-center flex-wrap': orientacao === false}">
        <ng-template *ngIf="orientacao; then aabb else loading"></ng-template>
    </div>
</div>

<ng-template #loading>
    <img src="https://placehold.co/400x200" alt="" />
</ng-template>

<ng-template #aabb>
    <div class="project-title" [ngClass]="{'d-flex justify-content-end': orientacao === false}">{{nome}}</div>
        <div class="project-tags" [ngClass]="{'d-flex justify-content-end': orientacao === false}">Tag1 Tag2 Tag3</div>
        <div class="project-descr">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur bibendum est, ut ultricies nibh. Donec posuere tortor nulla, vel imperdiet turpis commodo in. Quisque sed felis vel mauris lacinia ultricies. Aliquam elementum.
            </p>
        </div>
        <div [ngClass]="{'d-flex justify-content-end': orientacao === false}">

            <app-circle-button size="m">
                <i class="fa fa-play c-secondary" aria-hidden="true"></i>
            </app-circle-button>
            
            <app-circle-button size="m">
                <i class="fa fa-code c-tertiary" aria-hidden="true"></i>
            </app-circle-button>

        </div>
</ng-template>

