<div class="row">
    @if (orientacao) {
        <div class="col-md-6 d-flex justify-content-center align-content-center flex-wrap">
            <a class="a_img_project" [href]="project_url" target="_blank">
                <img class="img_project grow" [src]="src_img" alt="" />
            </a>
        </div>
        <div class="col-md-6 d-flex flex-column">
            <div class="project-title">{{nome}}</div>
            <div class="project-tags">{{tags}}</div>
            <div class="project-descr flex-grow-1">
                <p>{{descr}}</p>
            </div>
            <div class="botoes_projetos">

                <app-circle-button [link-url]="project_url" size="m">
                    <fa-icon [icon]="['fas', 'eye']" class="c-tertiary"/>
                </app-circle-button>
                
                @if (code_url) {
                    <app-circle-button [link-url]="code_url" size="m">
                        <fa-icon [icon]="['fas', 'code']" class="c-tertiary"/>
                    </app-circle-button>
                }

            </div>
        </div>
    } @else {
        <div class="col-md-6 d-flex flex-column">
            <div class="project-title d-flex justify-content-end">{{nome}}</div>
            <div class="project-tags d-flex justify-content-end">{{tags}}</div>
            <div class="project-descr flex-grow-1">
                <p>{{descr}}</p>
            </div>
            <div class="botoes_projetos d-flex justify-content-end">
                
                <app-circle-button [link-url]="project_url" size="m">
                    <fa-icon [icon]="['fas', 'eye']" class="c-tertiary"/>
                </app-circle-button>
                
                @if (code_url) {
                    <app-circle-button [link-url]="code_url" size="m">
                        <fa-icon [icon]="['fas', 'code']" class="c-tertiary"/>
                    </app-circle-button>
                }
                
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-content-center flex-wrap">
            <a class="a_img_project" [href]="project_url" target="_blank">
                <img class="img_project grow" [src]="src_img" alt="" />
            </a>
        </div>
    }
</div>