main {
    padding-top: 30px;
}

header {
    padding-top: 30px;
    font-weight: bold;
}

.contact-buttons app-circle-button {
    margin: 14px 4px 14px 4px;
}

.sessao-projetos {
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-title {
    padding-top: 30px;
    padding-bottom: 20px;
}

.text-about-title {
    font-weight: bold;
}

.img-perfil {
    height: 250px;
    width: 250px;
}

.link-down-cv {
    color: var(--color-secondary);
    text-decoration: none;
}