<header>
    <app-home-header/>
</header>
<main>

    <div class="container">

        <div class="row about-title d-flex align-content-center flex-wrap">
            <h3 class="text-about-title c-secondary">{{ "cargos" | translate }}</h3>
        </div>

        <div class="row">

            <div class="col-md-8">
                <p style="text-align: justify;">{{ "sobre" | translate}}</p>

                <div class="contact-buttons d-flex justify-content-center">
                    <app-circle-button link-url="https://www.linkedin.com/in/paulo-xis-cabral/" size="g">
                        <fa-icon [icon]="['fab', 'linkedin']" class="c-tertiary"/>
                    </app-circle-button>
                    
                    <app-circle-button link-url="https://github.com/xpcjunior" size="g">
                        <fa-icon [icon]="['fab', 'github']" class="c-tertiary"/>
                    </app-circle-button>
                    
                    <app-circle-button link-url="https://wa.me/+5573999772741" size="g">
                        <fa-icon [icon]="['fab', 'whatsapp']" class="c-tertiary"/>
                    </app-circle-button>
                    
                    <app-circle-button link-url="mailto:paulo.junior.cabral@gmail.com?subject=Contato%20via%20portif%C3%B3lio" size="g">
                        <fa-icon [icon]="['fas', 'envelope']" class="c-tertiary"/>
                    </app-circle-button>
                </div>

            </div>
            <div class="col-md-4 d-flex justify-content-center align-content-center flex-wrap">
                <img src="/assets/img/foto_perfil_circulo.png" class="img-perfil" alt="" />
            </div>


        </div>

        <div class="row sessao-projetos">

            <div class="col-md-2">
                <h3>
                    <span class="c-secondary">#</span>
                    <span>{{ "projetos" | translate }}</span>
                </h3>
            </div>
            <div class="col-md-10">
                <hr class="c-secondary">
            </div>

        </div>


        <div id="sec-projetos">

            <app-project
                [project-name]="getTranslated('apps.app-ava_por_tcu.titulo')"
                [project-descr]="getTranslated('apps.app-ava_por_tcu.descricao')"
                [project-tags]="getTranslated('apps.app-ava_por_tcu.tags')"
                project-img="/assets/img/capa_proj_ava_anu_tcu_2023.png"
                project-url="https://app.powerbi.com/view?r=eyJrIjoiODc4NmRjODktMTQ2OC00YWUzLTg4N2UtMjVlYjNjZTY5MjlhIiwidCI6ImJmMTU4MTg4LTlhMTEtNDRjMi1iN2ZjLTIxZTg1NjEzYmEyNyJ9&pageName=ReportSection5ca67f71614949cb0142"
                [orientation]="true"
            />

            <app-project
                [project-name]="getTranslated('apps.app-heineken.titulo')"
                [project-descr]="getTranslated('apps.app-heineken.descricao')"
                [project-tags]="getTranslated('apps.app-heineken.tags')"
                project-img="/assets/img/capa_proj_heineken.png"
                project-url="https://www.canva.com/design/DAF6X03yKjk/T-H9tcz5mCuqDqAlMrVyCg/edit?utm_content=DAF6X03yKjk&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                project-code-url="https://github.com/xpcjunior/heinekendscase2024"
                [orientation]="false"
            />

            <app-project
                [project-name]="getTranslated('apps.app-portifolio.titulo')"
                [project-descr]="getTranslated('apps.app-portifolio.descricao')"
                [project-tags]="getTranslated('apps.app-portifolio.tags')"
                project-img="/assets/img/capa_proj_portifolio.png"
                project-code-url="https://github.com/xpcjunior/portifolio"
                [orientation]="true"
            />

        </div>

    </div>

</main>
<footer class="text-center">
    <app-home-footer/>
</footer>