<header>
    <app-home-header></app-home-header>
</header>
<main>

    <div class="container">

        <div class="row about-title d-flex align-content-center flex-wrap">
            <h3 class="text-about-title c-secondary">Data Scientist | Full Stack Python Developer</h3>
        </div>

        <div class="row">

            <div class="col-md-8">
                <p style="text-align: justify;">Trabalho a bastante tempo com desenvolvimento de softwares, inclusive tendo atuado como Tech Lead. Sou mestre em Modelagem Computacional, através da qual adquiri experiencia com dados e machine learning e acabei me apaixonando pela área de Data Science. Combinando essas duas experiencias da minha vida me tornei um Cientista de dados capaz de realizar soluções bem elaboradas e bem estruturadas end-to-end. Sou bastante comunicativo, prezo muito pelo trabalho bem feito, a boa relação entre colegas de trabalho e estou sempre aberto a aprender e mostrar o meu valor.</p>

                <div class="contact-buttons d-flex justify-content-center">
                    <app-circle-button size="g">
                        <i class="fa fa-linkedin-square c-tertiary" aria-hidden="true"></i>
                    </app-circle-button>
                    
                    <app-circle-button size="g">
                        <i class="fa fa-github c-tertiary" aria-hidden="true"></i>
                    </app-circle-button>
                    
                    <app-circle-button size="g">
                        <i class="fa fa-whatsapp c-tertiary" aria-hidden="true"></i>
                    </app-circle-button>
                    
                    <app-circle-button size="g">
                        <i class="fa fa-envelope c-tertiary" aria-hidden="true"></i>
                    </app-circle-button>
                </div>

            </div>
            <div class="col-md-4 d-flex justify-content-center align-content-center flex-wrap">
                <img src="/assets/img/foto_perfil_circulo.png" class="img-perfil" alt="" />
            </div>


        </div>

        <div class="row sessao-projetos">

            <div class="col-md-2">
                <h3>
                    <span class="c-secondary">#</span>
                    <span>projetos</span>
                </h3>
            </div>
            <div class="col-md-10">
                <hr class="c-secondary">
            </div>

        </div>


        <div id="sec-projetos">

            <app-project project-name="Projeto 1" [orientation]="true"></app-project>
            <app-project project-name="Projeto 2" [orientation]="false"></app-project>

        </div>

    </div>

</main>
<footer class="text-center">
    <app-home-footer></app-home-footer>
</footer>