<div class="container">
    
    <div class="row ">
        
        <div class="div-portifolio-nome col-md-6 d-flex align-content-center flex-wrap justify-content-start">
            <span class="portifolio-nome">Paulo Cabral</span>
        </div>
        <div class="div-link-hearder col-md-2 d-flex align-content-center flex-wrap justify-content-end">
            <span class="c-secondary">#</span>
            <a class="link-header" href="#sec-projetos">{{ "projetos" | translate }}</a>
        </div>
        <div class="div-link-hearder col-md-3 d-flex align-content-center flex-wrap justify-content-end">
            <span class="c-secondary">\</span>
            <span>en</span>
            <app-switch></app-switch>
            <span class="c-secondary">\</span>
            <span>pt-BR</span>
        </div>
        <div class="div-link-hearder col-md-1 d-flex align-content-center flex-wrap">
            
            <app-circle-button>
                <fa-icon [icon]="['fas', 'moon']" class="c-secondary"></fa-icon>
            </app-circle-button>
        
        </div>
        
    </div>
    
</div>